

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* General Styles
 * -------------------------------------------------- */

div.clear {
  clear: both;
  height: 1px;
  margin-top: -1px;
}

/* Sticky footer styles
 * -------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #dfdfdf;
}

.footer .row {
  margin-top: 20px;
}

.page-content {
  padding-bottom: 80px;
}

/* End Sticky footer styles */


.feature {
  margin-top: 40px;
}

.feature h4 {
  margin-bottom: 1em;
}

.jumbotron {
  padding-top: 90px;
}

p, ul, li {
  font-family: arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* Designs Page */

.design-sec {
  margin-top: 20px;
  margin-bottom: 20px;
}

.design-sec img {
  margin-bottom: 10px;
}
